.about-wrapper
  background: #7E96A9
  width: 900px
  margin: 0 auto
  padding: 30px 60px
  @media $mobile
    width: 100%
    padding: 0 7.5% 30px

  .aboutme
    clearfix()
    h2
      margin-bottom: 20px
      a
        font-size: 18px
    li
      line-height: 1.4
      margin-bottom: 10px
      float: left
      width: 50%
      @media $mobile
        float: none
        width: 80%
    a
      color: #fff
      font-size: 14px
