#particles-js
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: 20%
  background-position: 50% 50%
  background: #38658C
  background: radial-gradient(top left, #5D3571, #38658C)
