.wiki
  h2
    cursor: pointer
  ul
    margin-left: 30px
    margin-bottom: 20px
    list-style: disc

    li
      margin-bottom: 5px
    ul
      list-style: circle
      margin-top: 10px
      margin-bottom: 10px
